<html>
    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="invoice-title">
                        <h2><%= resturant %></h2><h3 class="pull-right">Last updated: <%= datetime %> </h3>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Menu</strong></h3>
                        </div>
                        <div class="panel-body">
                        <form method="post">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <td class="text-center"> <strong>Live orders</strong></td>
                                            <td></td>
                                            <td class="text-center"> <strong>Bill requests</strong> </td>
                                        </tr>
                                    </thead>
                                    <tbody>                                        
                                        <tr>
                                            <td>
                                            <table class="table table-condensed" border="0">
                                                <thead>
                                                    <tr>
                                                        <td><strong>Table number</strong></td>
                                                        <td class="text-center"><strong>Name</strong></td>
                                                        <td class="text-center"><strong>Quantity</strong></td>
                                                    </tr>
                                                </thead>
                                                
                                                <% if (orders.length > 0 ){ %>
                                                <% for (var i = 0; i<orders.length; i++) { %>
                                                <tr>
                                                    <td><%= orders[i].tableno%></td>
                                                    <td class="text-center"><%= orders[i].item %></td>
                                                    <td class="text-center"><%= orders[i].qty %></td>
                                                    <td class="text-center"><button formaction="delivered/<%=i%>">Delivered</button></td>

                                                </tr>
                                                <% } %>
                                            <% } else { %>
                                            <tr> 
                                                <td></td>
                                                <td class="text-left"> <h3> No live orders</h3> </td>
                                                <td></td>
                                            </tr>
                                            <% } %>
                                            </table>
                                            </td>
                                            <td></td>
                                            <td>
                                                <table class="table table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <td><strong>Table number</strong></td>
                                                            <td class="text-center"><strong>Amount</strong></td>
                                                            <td class="text-center"><strong>Date</strong></td>
                                                        </tr>
                                                    </thead>
                                                    <% if (unpaidbills.length > 0 ){ %>
                                                    <% for (var i = 0; i<unpaidbills.length; i++) { %>
                                                    <tr>
                                                        <td><%= unpaidbills[i].tableno %></td>
                                                        <td class="text-center"><%= unpaidbills[i].amount %></td>
                                                        <td class="text-center"><%= unpaidbills[i].orderdate %></td>
                                                        <td class="text-center"><button formaction="paid/<%=i%>">Paid</button></td>

                                                    </tr>
                                                    <% } %>
                                                <% } else { %>
                                                <tr> 
                                                    <td></td>
                                                    <td class="text-left"> <h3> No unpaid bills</h3> </td>
                                                    <td></td>
                                                </tr>
                                                <% } %>
                                            </table>
                                        </td>
                                        </tr>                                        
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td><button class="pull-right" formaction="clienthome"> Go back </button></td>
                                            <td><button class="pull-right" formaction="order"> Refresh </button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>