<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
        .wrap {
            word-break: break-all;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="invoice-title">
                        <h2>Bill</h2><h3 class="pull-right">Order # <%= order.orderid%></h3>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            <address>
                                <strong>Order Date:</strong>
                                <strong><%= order.orderdate %></strong>
                            </address>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            <address>
                                <strong><%= resturant %></strong>
                            </address>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            <address>
                                <strong>GSTIN:</strong>
                                <strong><%= gstin %></strong>
                            </address>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Order summary</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table-condensed table-responsive" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <td><strong>Item</strong></td>
                                            <td><strong>Price</strong></td>
                                            <td><strong>Quantity</strong></td>
                                            <td><strong>Totals</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (var key in order.orderdetails) { %>
                                        <tr>
                                            <% if (order.orderdetails[key].qty > 0){ %>
                                            <td class=".wrap"><%= order.orderdetails[key].name%></td>
                                            <td><%= order.orderdetails[key].price %></td>
                                            <td><%= order.orderdetails[key].qty %></td>
                                            <td><%= order.orderdetails[key].price*order.orderdetails[key].qty %></td>
                                            <% } %>
                                        </tr>
                                        <% } %>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>SGST@<%=sgst%> = Rs. <%= sgstamt %></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>CGST@<%=cgst%> = Rs. <%= cgstamt %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <form method="post">
                                <label class = "pull-right"> Total: Rs. <%= order.orderbill %></label><br>
                                <button formaction="place"> Confirm and Place order </button>
                                <button formaction="order"> Go back </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>