<html>
    <head>
<!--
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        ---- Include the above in your HEAD tag --------
-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <style>
        .wrap {
            word-break: break-all;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="invoice-title">
                        <h2><%= resturant %></h2><h3 class="pull-right">Order # <%= order.orderid %> </h3>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Menu</strong></h3>
                        </div>
                        <div class="panel-body">
                        <form method="post">
                            <div class="table-responsive">
<!--                                <table class="table-bordered table-condensed" style="width: 100%">-->
                                <table class="table-condensed table-responsive" style="width: 100%">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <% var cat=''; %>
                                        <% for (var i = 0; i<menu.length; i++) { %>
                                            <% if (menu[i].category != cat) {%>
                                                <% cat = menu[i].category; %>
                                                <tr>
                                                    <td>
                                                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#<%=cat.replace(/ /g,'')%>"> 
                                                            <%= cat %>
                                                        </button>
                                                        <br><br>
                                                    </td>
                                                </tr>
                                            <table id="<%=cat.replace(/ /g,'')%>" class="table-condensed table-responsive collapse" style="width: 100%">
                                            <%} %>
                                            <tr>
                                                <td class=".wrap"><%= menu[i].foodName%></td>
                                                <td><%= menu[i].price %></td>
                                                <td class="text-left">
                                                    <button type="button" ng-click="count = count + 1" id="addbtn<%=i%>">+</button>
                                                </td>
                                                <td><button button type="button" id="subbtn<%=i%>">-</button></td>                                                
                                                <script>
                                                    $(function() {
                                                        $('#addbtn<%=i%>').click(function(event) {
                                                            event.preventDefault();
                                                            $.post('additem/<%=i%>', function(resp) {
//                                                                alert(resp);
                                                            });
                                                        });
                                                    });
                                                    $(function() {
                                                        $('#subbtn<%=i%>').click(function(event) {
                                                            event.preventDefault();
                                                            $.post('removeitem/<%=i%>', function(resp) {
//                                                                alert(resp);
                                                            });
                                                        });
                                                    });
                                                    </script>
                                            </tr>
                                            <% if ( i == menu.length-1 || menu[i+1].category != cat) { %>
                                                </table>
                                            <% } %>
                                        
                                        <% } %>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><button class="pull-right btn btn-info" formaction="order">OKAY</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>